<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar navBar navbar-expand-md  fixed-top navbb" id="header">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="../img/logo.jpeg" width="40px"> <span><span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
            </button>
    
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" id="about"><a href="about.html" class="nav-link">About</a></li>
              <li class="nav-item" id="code-of-conduct"><a href="code-of-conduct.html" class="nav-link">Code of conduct</a></li>
                <li class="nav-item" id="events"><a href="events.html" class="nav-link">Events</a></li>
                <li class="nav-item" id="blog"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item" id="volunteer"><a href="volunteer.html" class="nav-link">Volunteer</a></li>
                <li class="nav-item" id="contact"><a href="contact.html" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="support.html" class="btn btn-danger white-color nav-link">Support</a></li>
              </ul>
          </div>
        </div>
      </nav>

      
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/template.js"></script>
    <script src="js/script.js"></script>
    
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script>
    </script>
</body>
</html>